* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(120deg, grey, #f08080);
  color: #222;
}

/* Navbar */
header {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  padding: 15px 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.logo {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 25px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffdd57;
}

/* Hero */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero span {
  color: #ffdd57;
}

.btn {
  margin-top: 100px;
  padding: 15px 20px;
  background: #222;
  color: #fff;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #ffdd57;
  color: #222;
}

/* Glass sections */
.glass {
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 40px;
  margin: 40px auto;
  max-width: 900px;
  color: #222;
  
}

/* Skills */
.skill-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.card {
  background: rgba(255,255,255,0.3);
  padding: 15px 25px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

/* Projects */
.projects .project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
  gap: 20px;
  padding: 20px;
}

.project-card {
  background: rgba(255,255,255,0.3);
  padding: 25px;
  border-radius: 15px;
  transition: transform 0.3s;
  width: 80%;
  margin-left: 100px;
}

.project-card:hover {
  transform: scale(1.05);
}

/* Footer */
footer {
  text-align: center;
  background: rgba(0,0,0,0.6);
  color: #fff;
  padding: 15px;
  margin-top: 20px;
}
.margin{
  margin-left: 100px;
}

